.svg_img {
    position: absolute;
}

.panzoom-parent {
    overflow: hidden;
    height: 650px;
    position: relative;
}

.btn-view-toggle {
    margin-bottom: 0px;
}

.landscape_container {
    background-color: #e5d352;
}

.svg_container {
    border: 2px solid #eee;
    position: relative;
}

.gui_container {
    position: absolute;
    top: 30%;
    left: 2%;
}

.zoomedIn_container {
    position: absolute;
    top: 0%;
    left: 30%;
}

.landscape_container {
    overflow: hidden;
    position: relative;
}

.svgImage {
    z-index: 2;
}

.btn-sol {
    z-index: 10;
    position: absolute;
    left: 61.5%;
    top: 3%;
}

.btn-maage {
    z-index: 10;
    position: absolute;
    left: 8%;
    top: 8%;
}

.btn-back {
    z-index: 10;
    position: absolute;
    left: 20px;
    top: 0;
}

.btn-mark {
    z-index: 10;
    position: absolute;
    left: 42%;
    top: 72%;
}

.gif {
    z-index: 9;
    position: absolute;
    left: 60%;
    top: 6%;
}

.sun {
    height: 80px;
}
