.svg_img {
    position: absolute;
}

.panzoom-parent {
    overflow: hidden;
    height: 650px;
    position: relative;
}

.landscape_container {}

.overlay_container {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
}

.svg_container {
    border: 2px solid #eee;
    position: relative;
}

.gui_container {
    position: absolute;
    top: 4%;
    z-index: 90;
    /* width: 35%; */
}

.zoomedIn_container {
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 255, 255, .7);
    width: 100%;
}

.landscape_container {
    overflow: hidden;
    position: relative;
    background-color: #dff8f8;
}

.svgImage {
    z-index: 2;
}

.detalje_label {
    z-index: 10;
    position: absolute;
    border: none;
}

.detalje_container {
    display: inline;
}

.sun {
    height: 80px;
}

.gif {
    position: absolute;
    max-width: 10%;
}

.btn-back {
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 20px;
}

.zoom_expl {
    padding: 0px;
    margin-top: -20px;
}

.zoom_pic {}

.img_container {
    margin-top: 0px;
}

.btn-zoom-left {
    position: absolute;
    top: 40%;
    background-color: white;
}

.btn-zoom-right {
    position: absolute;
    top: 30%;
    right: 0;
}

.exp_container {
    margin-top: -5px;
}

.exp_tekst_container {
    background-color: #F8F8F6;
    border: 1px solid #ddd;
    border-top: none;
    overflow: auto;
    border-radius: 0px 4px 4px 4px;
    padding: 0px 40px 10px 20px;
    z-index: 9;
    position: absolute;
}

.btn-view-toggle {
    /* width: 100%; */
    margin-bottom: 0px;
    text-align: left;
    text-transform: uppercase;
    /*font-size: 14px;*/
    border-radius: 0px 6px 6px 0px;
    min-width: 90%;
    border: 0px;
}

.png_overlay,
.sfaerer_overlay {
    position: absolute;
    top: 0;
}

.carousel-control {
    color: green;
    margin: 69%;
    margin-top: 119%;
}

.exp_header::first-letter {
    border: 2px solid #aaa;
    border-radius: 20px;
    padding-left: 10px;
    background-color: #eee;
    padding-right: 10px;
}

.nav-tabs>li>a {
    background-color: #eee;
    color: #999;
    cursor: pointer;
    padding: 4px 10px 0px 10px;
    z-index: 0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 10px 0px 10px;
    margin-top: 0px;
}

.vuc-primary-active,
.vuc-primary-hover {
    color: #fff;
    background-color: #05a0a8 !important;
}

.sfaerer_label {
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 10;
}

.lille_toggle_text {
    font-size: 11px;
    margin-top: 5px;
}

.btn-xs_toggle {
    /* color:red; */
    margin-top: 7px;
    padding-top: 3px;
    padding-bottom: 0px;
    height: 32px;
}

.left-col {
    margin-left: -14px;
}

.right-col {
    margin-left: 14px;
}

@media all and (max-width: 1170px) {
    .detalje_label,
    .sfaerer_label,
    .btn-view-toggle {
        font-size: 1.3vw;
    }
}

@media all and (min-width: 1171px) {
    .detalje_label,
    .sfaerer_label,
    .btn-view-toggle {
        font-size: 14px;
    }
}

#UserMsgBox {
    padding-bottom: 60px;
}

.carousel-control .glyphicon {
    font-size: 20px;
    top: 50%;
    color: #fff;
    background-color: #05A0A8;
    opacity: .9;
    height: 40px;
    width: 40px;
    padding: 5px;
    line-height: 30px;
    border-radius: 30px;
    display: block;
    text-align: center;
}

.tal {
    color: #777;
    position: absolute;
    bottom: 10px;
    font-size: 11px;
}

.glyphicon-info-sign {
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    right: 5px;
    color: #666;
}
